.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  font-weight: 800;
  font-size: rem(14);
  line-height: 1.6;
  font-family: $primary-font;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #ffffff;
  color: $accent-color-2;
  background-color: transparent;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: $border-radius;
  outline: none;
  user-select: none;
  transition-property: background, color, border-color;
  transition-duration: ($duration * 2);
  cursor: pointer;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: lighten($accent-color-2, 6%);
  }

  &:active {
    color: #ffffff;
    background-color: darken($accent-color-2, 6%);
  }

  &--fluid {
    width: 100%;
  }

  &--fill {
    color: #ffffff;
    background-color: $accent-color-2;
  }

  &--danger {
    color: $danger-color;

    &:hover,
    &:focus {
      color: #ffffff;
      background-color: lighten($danger-color, 6%);
    }

    &:active {
      color: #ffffff;
      background-color: darken($danger-color, 6%);
    }
  }

  &--danger-fill {
    color: #ffffff;
    background-color: $danger-color;

    &:hover,
    &:focus {
      color: #ffffff;
      background-color: lighten($danger-color, 6%);
    }

    &:active {
      color: #ffffff;
      background-color: darken($danger-color, 6%);
    }
  }
}

.button__icon {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  fill: currentColor;

  &--left {
    margin-right: 6px;
  }

  &--right {
    margin-left: 6px;
  }
}
