.cart-toggle {
  display: flex;
  align-items: center;
  padding: 10px;
  font-weight: 800;
  font-size: rem(14);
  text-decoration: none;
  border-radius: $border-radius;
  outline: none;
  user-select: none;
  transition: $duration;

  &:hover,
  &:focus {
    color: #fff;
    background-color: $accent-color;
  }
}

.cart-toggle__amount {

}

.cart-toggle__icon {
  width: 18px;
  height: 18px;
  margin-right: 6px;
  flex-shrink: 0;
  fill: currentColor;
}
