.category-card {
  display: flex;
  flex-direction: column;
}

.category-card__wraplink {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-decoration: none;
  color: $base-color;
  border-radius: 2px;
  overflow: hidden;
  transition: $duration * 1.5;

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(#000, 0.1);
  }
}

.category-card__imagebox {
  @include make-fit-object(260, 390);

  transition: $duration * 1.5;

  .category-card__wraplink:hover &,
  .category-card__wraplink:focus & {
    filter: saturate(150%) contrast(110%);
  }
}

.category-card__image {

}

.category-card__title {
  display: block;
  margin: 0;
  padding: 10px;
  padding-bottom: 15px;
  font-weight: 800;
  font-size: rem(16);
  line-height: 1.2;
  text-align: center;

  @include mq-min(480px) {
    font-size: rem(18);
    text-transform: uppercase;
  }
}
