.checkbox {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: rem(16);
  user-select: none;
  cursor: pointer;

  label.error {
    width: 100%;
    order: 1;
  }
}

.checkbox__input {
  @include visually-hidden();
}

.checkbox__indicator {
  padding-left: 25px;

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;
    border: 1px solid;
    transition: $duration * 1.5;
  }

  .checkbox__input:hover ~ &,
  .checkbox__input:focus ~ & {
    &::before {
      border-color: $accent-color;
    }
  }

  .checkbox__input:checked ~ & {
    &::before {
      background-image: url("images/checked.svg");
      border-color: $accent-color;
    }
  }
}
