.counter {
  display: inline-flex;
  max-width: 130px;
  border: 1px solid $light-color;
  border-radius: $border-radius;
  overflow: hidden;
  transition: $duration;

  &:hover {
    border-color: rgba($accent-color, 0.4);
  }

  &:focus-within {
    border-color: $accent-color;
  }
}

.counter__control {
  position: relative;
  width: 38px;
  flex-shrink: 0;
  padding: 8px;
  background-color: #ffffff;
  border: none;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 10px;
    height: 2px;
    transform: translate(-50%, -50%);
    background-color: currentColor;
  }

  &--decrease {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &--increase {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &::before {
      width: 12px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 2px;
      height: 12px;
      background-color: currentColor;
      transform: translate(-50%, -50%);
    }
  }
}

.counter__input {
  min-width: 4.5ch;
  max-width: none;
  padding: 4px;
  font-size: rem(20);
  text-align: center;
  border: none;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    margin: 0;
    -moz-appearance: none;
    appearance: none;
  }
}
