.header-contacts {
  @include clear-list();
}

.header-contacts__item {
  white-space: nowrap;
}

.header-contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: rem(16);
  text-decoration: none;
  color: $base-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header-contacts__icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  flex-shrink: 0;
  fill: currentColor;
}
