.header-contacts {
  @include clear-list();
}

.header-contacts__item {
  white-space: nowrap;
}

.header-contacts__link {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: rem(18);
  letter-spacing: 0.025em;
  text-decoration: none;
  color: $accent-color-3;
  transition: $duration;

  &:hover,
  &:focus {
    color: #ffffff;
  }

  b {
    font-weight: 700;
  }
}

.header-contacts__icon {
  width: 18px;
  height: 18px;
  margin-right: 6px;
  flex-shrink: 0;
  fill: currentColor;
}
