.input {
  padding: rem(12);
  width: 100%;
  outline: none;
  border: 1px solid transparent;
  background: #edeef1;
  font: inherit;
  font-size: rem(16);
  line-height: normal;
  box-sizing: border-box;
  transition: 0.3s;
}
