.input {
  padding: 12px;
  width: 100%;
  outline: none;
  border: 1px solid transparent;
  background: #ffffff;
  font: inherit;
  font-size: rem(16);
  line-height: normal;
  box-sizing: border-box;
  transition: 0.3s;

  &::placeholder {
    color: $base-color;
    opacity: 0.4;
  }
}
