.main-header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #e0e0e0;
}

.main-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__logo {

}

.main-header__logo {
  margin-right: $gutter * 2;
}

.main-header__contacts {
  margin-left: auto;
  margin-right: auto;
}

.main-header__search {
  margin-left: $gutter * 2;
  margin-right: $gutter * 2;
}

.main-header__controls {

}
