.main-layout {
  padding-top: $gutter;
  padding-bottom: $gutter;
}

.main-layout__row {
  display: flex;
}

.main-layout__main {
  flex-grow: 1;
  order: 1;
}

.main-layout__sidebar {
  width: 270px;
  margin-right: $gutter;
  margin-bottom: -$gutter;
  flex-shrink: 0;
}
