// 1. Дублирую правили, потому что в IE и Edge не работает выпадашка при перечислении селекторов вместе с :focus-widthin

.main-nav {
  background-color: #3F51B5;
}

.main-nav__list {
  @include clear-list();

  display: flex;
}

.main-nav__item {
  flex-grow: 1;
  margin-right: 2.5%;

  &:last-child {
    margin-right: 0;
  }
}

.main-nav__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 15px;
  font-weight: 600;
  font-size: rem(21);
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  transition: $duration * 2;

  .main-nav__item--has-dropdown &::after {
    content: "";
    width: 5px;
    height: 5px;
    margin-left: 8px;
    border-radius: 50%;
    background-color: currentColor;
    opacity: 0.5;
    transition: opacity $duration;
  }

  .main-nav__item:hover &,
  &:hover,
  &:focus {
    color: #ffffff;
    background-color: rgba(#000000, 0.2);

    &::after {
      opacity: 1;
    }
  }

  .main-nav__item:focus-within & { // 1.
    color: #ffffff;
    background-color: rgba(#000000, 0.2);

    &::after {
      opacity: 1;
    }
  }
}

.main-nav__dropdown {
  position: absolute;
  z-index: 5;
  min-width: 320px;
  transform: translateY(15px);
  pointer-events: none;
  opacity: 0;
  transition: $duration * 1.5;

  .main-nav__item:hover & {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .main-nav__item:focus-within & { // 1.
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}
