// 1. Дублирую правили, потому что в IE и Edge не работает выпадашка при перечислении селекторов вместе с :focus-widthin

.main-nav {
  background-color: $accent-color;
}

.main-nav__toggle {
  display: flex;
  width: 100%;
  text-align: center;
  color: #ffffff;

  @include mq-min(768px) {
    display: none;
  }
}

.main-nav__list {
  @include clear-list();

  @include mq-max(767px) {
    display: none;

    .main-nav--opened & {
      display: block;
    }

    .main-nav--no-js & {
      display: block;
    }
  }

  @include mq-min(768px) {
    display: flex;
  }
}

.main-nav__item {
  @include mq-min(768px) {
    flex-grow: 1;
    margin-right: 2.5%;

    &:last-child {
      margin-right: 0;
    }
  }
}

.main-nav__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  font-weight: 600;
  font-size: rem(18);
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  user-select: none;
  transition: $duration * 1.5;

  &:not([href]) {
    cursor: default;
  }

  &:hover {
    color: #ffffff;
  }

  .main-nav__item--has-dropdown &::after {
    content: "";
    width: 5px;
    height: 5px;
    margin-left: 8px;
    border-radius: 50%;
    background-color: currentColor;
    opacity: 0.5;
    transition: opacity $duration;
  }

  @include mq-max(767px) {
    border-bottom: 1px solid transparent;

    .main-nav__item--opened & {
      color: #ffffff;
      background-color: rgba(#000000, 0.2);
      border-color: $accent-color;

      &::after {
        opacity: 1;
      }
    }
  }

  @include mq-min(768px) {
    .main-nav__item--opened &,
    .main-nav__item:hover &,
    &:hover,
    &:focus {
      color: #ffffff;
      background-color: rgba(#000000, 0.2);

      &::after {
        opacity: 1;
      }
    }

    .main-nav__item:focus-within & { // 1.
      color: #ffffff;
      background-color: rgba(#000000, 0.2);

      &::after {
        opacity: 1;
      }
    }
  }
}

.main-nav__dropdown {
  @include mq-max(767px) {
    display: none;

    .main-nav--no-js & {
      display: block;
    }

    .main-nav__item--opened & {
      display: block;
      background-color: rgba(#000000, 0.2);
      box-shadow: none;
    }
  }

  @include mq-min(768px) {
    position: absolute;
    z-index: 5;
    min-width: 320px;
    transform: translateY(15px);
    pointer-events: none;
    opacity: 0;
    transition: $duration;

    .main-nav__item:hover & {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }

    .main-nav__item:focus-within & { // 1.
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }
  }
}
