.main-footer {
  padding-top: $gutter;
  padding-bottom: $gutter;
  font-size: rem(14);
  line-height: 1.2;
  color: $light-color;
  background-color: #194066;

  @include mq-max(767px) {
    text-align: center;
  }
}

.main-footer__inner {
  @include mq-min(768px) {
    display: flex;
    justify-content: space-between;
  }
}

.main-footer__column {
  margin-bottom: $gutter;

  &:last-child {
    margin-bottom: 0;
  }

  @include mq-min(768px) {
    margin-right: $gutter;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  @include mq-min(992px) {
    margin-right: $gutter * 2;
  }
}

.main-footer__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: rem(16);
  text-transform: uppercase;
}

.main-footer__logo {
  margin-bottom: 20px;
}

.main-footer__to-sitemap {
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: 500;
  font-size: rem(16);
  text-decoration: none;
  white-space: nowrap;
  color: #ffffff;
  opacity: 0.7;
  transition: $duration;

  &:hover,
  &:focus {
    color: #ffffff;
    opacity: 1;
  }
}

.main-footer__to-sitemap-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  flex-shrink: 0;
  fill: currentColor;
}

.main-footer__copy {
  margin-bottom: 0;

  @include mq-min(768px) {
    max-width: 200px;
  }
}

.main-footer__text {
  @include clear-mr-edges-elem();

  @include mq-min(768px) {
    max-width: 400px;
  }
}

.main-footer__nav {
  @include clear-list();

  a {
    display: block;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: 500;
    font-size: rem(16);
    text-decoration: none;
    white-space: nowrap;
    color: #ffffff;
    opacity: 0.7;
    transition: $duration;

    &:hover,
    &:focus {
      color: #ffffff;
      opacity: 1;
    }
  }
}

.main-footer__contacts {
  margin-bottom: 20px;

  @include mq-max(767px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 140px;
  }
}

.main-footer__socials {
  @include mq-max(767px) {
    // justify-content: center;
  }
}
