.main-layout {
  padding-top: $gutter;
  padding-bottom: $gutter;
}

.main-layout__row {
  display: flex;
  flex-direction: column;
  margin-bottom: $gutter;

  @include mq-min(768px) {
    flex-direction: row;
  }
}

.main-layout__breadcrumbs {
  margin-top: -10px;
  margin-bottom: -10px;
}

.main-layout__main {
  flex-grow: 1;
  order: 1;
}

.main-layout__sidebar {
  @include mq-min(768px) {
    width: 270px;
    margin-right: $gutter;
    margin-bottom: -$gutter;
    flex-shrink: 0;
  }
}
