.main-header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #e0e0e0;
  background-image: linear-gradient(to top, #dcdcdc, #e0e0e0);
}

.main-header__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.main-header__logo {
  min-width: 100px;
}

.main-header__logo {
  margin-right: auto;
}

.main-header__contacts {
  margin-left: $gutter * 2;
  margin-right: $gutter * 2;
}

.main-header__search {
  margin-right: $gutter * 2;
}

.main-header__controls {

}
