.main-header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #194066;
}

.main-header__inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq-min(768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.main-header__logo {
  flex-shrink: 0;
  min-width: 100px;
  margin-bottom: 20px;

  @include mq-min(768px) {
    margin-right: auto;
    margin-bottom: 0;
  }
}

.main-header__contacts {
  margin-bottom: 20px;

  @include mq-min(768px) {
    margin-left: $gutter * 2;
    margin-right: $gutter * 2;
    margin-bottom: 0;
  }
}

.main-header__search {
  margin-bottom: 20px;
  width: 100%;

  @include mq-min(768px) {
    width: auto;
    margin-right: $gutter * 2;
    margin-bottom: 0;
  }
}

.main-header__controls {

}
