.page-article {

}

.page-article__header {
  margin-bottom: 40px;
}

.page-article__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: rem(34);
  line-height: 1.15;
}

.page-article__subtitle {
  margin: 0;
  font-size: rem(24);
  margin-bottom: 20px;
}
