.product-detail-attr {
  display: flex;
  align-items: baseline;
}

.product-detail-attr__title {
  width: 85px;
  margin-right: 10px;
  font-weight: 600;
  font-size: 16px;
  color: $muted-color;
}

.product-detail-attr__body {

}
