.product-price {
  text-align: left;
  font-weight: 800;
  font-size: rem(24);
  white-space: nowrap;
}

.product-price__sum {
  position: relative;
  // display: block;
  text-decoration: none;

  &--old {
    font-size: em(16, 24);
    color: #aaa;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -2px;
      right: -2px;
      height: 2px;
      transform: rotate(-15deg);
      background-color: $accent-color;
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

.product-price__value {

}

.product-price__currency {
  font-size: 0;

  &::before {
    content: "₽";
    font-size: rem(20);
    font-weight: 600;
  }

  .product-price__sum--old & {
    &::before {
      font-size: rem(15);
    }
  }
}
