.product-badges {
  @include clear-list();

  font-weight: 600;
  font-size: rem(12);
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: #616161;
  margin-bottom: -6px;
}

.product-badges__item {
  margin-bottom: 6px;
  padding: 4px 8px;
  border-radius: $border-radius;
  background-color: #eee;

  &--new {
    background-color: #A9EEE6;
  }

  &--sale {
    background-color: #F9ED69;
  }
}
