.sidebar-category-nav {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(#000, 0.1);
}

.sidebar-category-nav__list {
  @include clear-list();
}

.sidebar-category-nav__item {

}

.sidebar-category-nav__link {
  display: block;
  padding: 10px 15px;
  font-weight: 700;
  line-height: 1.15;
  text-decoration: none;
  color: $base-color;
  user-select: none;
  transition: $duration;

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: rgba(#000, 0.04);
  }
}
