.socials {
  display: flex;
  justify-content: center;
}

.socials__item {
  margin-right: 8px;
  font-size: 0;
  vertical-align: middle;
  text-decoration: none;
  color: #ffffff;
  border: none;
  transition: $duration;
  filter: grayscale(50%);

  &:hover,
  &:focus {
    color: #ffffff;
    filter: grayscale(0%);
  }

  &:last-child {
    margin-right: 0;
  }
}

.socials__icon {
  display: block;
  vertical-align: middle;
  fill: currentColor;
}
