.subnav {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #3F51B5;
  box-shadow: 0 2px 8px rgba(#000, 0.2);
}

.subnav__list {
  @include clear-list();
}

.subnav__item {

}

.subnav__link {
  display: block;
  padding: 8px 15px;
  font-weight: 700;
  font-size: rem(16);
  text-decoration: none;
  color: #ffffff;
  user-select: none;
  transition: $duration;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: rgba(#000000, 0.2);
  }
}
