.user-list {
  @include clear-list();

  display: flex;
  align-items: center;
}

.user-list__item {

}

.user-list__button {
  padding: 10px;
  background: none;
  color: $base-color;
  border: none;
  cursor: pointer;
  border-radius: $border-radius;
  user-select: none;
  outline: none;
  transition: $duration;
  color: #ffffff;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: rgba(#ffffff, 0.1);
  }
}

.user-list__icon {
  display: block;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  fill: currentColor;
}
